streamlit
python-dotenv
groq
langchain
langchain-core
langchain-community
langchain-groq
langchain-huggingface
langchain-text-splitters
torch
torchvision
langchain-chroma
chromadb
sentence-transformers
pypdf
unstructured
